.panel {
    background-color: rgba(154, 0, 154, 0.51);
    right: auto;
    top: auto;
    align-items: center;
    justify-content: center;
    bottom: auto;
    flex-grow: 0.333;
    translate: -43% 0;
    width: 25%;
    flex-direction: column;
    position: relative;
    left: 50%;
    transform-origin: center;
}

.menu {
    align-items: center;
    justify-content: center;
    flex-grow: 1;
}

.button {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    width: 437%;
}
